<div id="overlay" class="overlay" onclick="closeInfo()"></div>

<div id="info-pop-up" class="pop-up">
    <button class="close-btn" onclick="closeInfo()">Close</button>
</div>

<script>
    let closeInfo = () => {
        document.getElementById('info-pop-up').classList.remove('show')
        document.getElementById('overlay').classList.remove('show')
    }

    let showInfo = (uri) => {
        fetch(uri, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => {
            if (response.ok) return response.json()
        })
        .then(data => {
            // alert(JSON.stringify(data))
            document.getElementById('info-pop-up').classList.add('show')
            document.getElementById('overlay').classList.add('show')
        })
        .catch(error => {
            console.error('Error:', error)
        })
    }
</script>