<!DOCTYPE html>
<html>

<%= erb :_head, locals: { copy: @copy } %>

<body>
    <div id="page">
        <input class="mb" id="username">
        <input class="mb" id="password" type="password">
        <div class="buttons">
            <button onclick="submitAttempt()">Submit</button>
            <button onclick="">Help</button>
        </div>
    </div>
</body>

<script>
    var submitAttempt = () => {
        const username = document.getElementById('username').value
        const password = document.getElementById('password').value
        fetch('/login', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'}, 
            body: JSON.stringify({
                username: username,
                password: password,
            })
        }).then(res => {
            if (res.status == 200) {
                document.location.href = '/'
            } else {
                window.location.reload()
            }
        })
    }
</script>

</html>
