body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    margin: 16px;
    padding: 0;
    background-color: rgb(240, 240, 240);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

div#page {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: white;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

table#files {
    border-collapse: collapse;
}

div.buttons {
    display: flex;
    flex-direction: row;
}

div.buttons button {
    margin-right: 8px;
}

.mt {
    margin-top: 8px;
}

.mb {
    margin-bottom: 8px;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: crosshair;
}

button,
input[type="submit"],
input[type="file"],
input[type="file"]::file-selector-button {
    border-radius: 0;
    cursor: crosshair;
}